@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #6366f1;
  --accent-color: #3f83f8;
  --text-color: #333333;
  --link-color: #2563eb;
  --background-color: #ffffff;
  --light-gray: #f0f0f0;
  --gray: #808080;
  --dark-gray: #555;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

.side-navbar {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  height: 695px;
  gap: 1.25rem;
  background-color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  .side-navbar {
    display: flex;
    flex-direction: column;
    gap: 0;
    max-width: 100%;
    height: 50vh;
  }
}

.logo {
  margin: 3rem auto;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .logo {
    margin: 0.32rem auto;
    font-size: 1.8rem;
  }
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin: 5rem auto;
  color: var(--dark-gray);
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin: 1.5rem auto;
    color: var(--dark-gray);
    font-weight: bold;
  }
}

.nav-links > a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: var(--dark-gray);
  font-weight: bold;
  position: relative;
  padding-bottom: 4px;
  width: fit-content; /* moved here from :hover */
}

.nav-links > a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: var(--dark-gray);
  transition: width 0.3s ease-in-out;
}

.nav-links > a:hover::after {
  width: 100%;
}

.nav-links > a:hover {
  color: #808080;
  transition: color 0.3s ease-in-out;
}

.hire-me-btn {
  padding: 0.5rem;
  width: 12rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1rem;
  margin: 8rem auto;
}

@media screen and (max-width: 768px) {
  .hire-me-btn {
    padding: 0.5rem;
    width: 12rem;
    border-radius: 1rem;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem auto;
  }
}

.hire-me-btn:hover {
  background-color: var(--dark-gray);
  transition: ease-in-out 0.5s;
  cursor: pointer;
}
